.am-list-body {
    position: inherit;
    background-color: #fcfcfc !important;
} 
.am-list-body::after {
    background-color: #ffffff !important;
}
.am-list-line::after {
    background-color: #fcfcfc !important;
}
.am-list-item {
    background-color: #fcfcfc !important;
}
.am-tabs-default-bar-content {
    position: fixed;
    height: 2.5rem;
}

.am-tabs-default-bar-content div{
    background-color: #fff;
} 

.slider-decorator-0 {
    bottom: 5px !important;
} 
html:not([data-scale]) .am-card:not(.am-card-full) {
    position: unset;
    border-bottom: 1px solid #dfdbdb;
}