.box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 49px;
    background-color: #fff;
    display: flex;
    align-items: center;
    
}
.input {
    margin-left: 5%;
    margin-right: 6%;
    width: 40%;
    background-color: rgb(226, 226, 226);
    height: 60%;
    border-radius: 15px;
    align-items: center;
    display: flex;

}
.img {
    position: relative;
    top: 1px;
    left: 6px;
    width: 20px;
}
.pac {
    position: relative;
    left: 15px;
    font-weight: 400;
    color: rgb(97, 97, 97);
}

.comment img {
    width: 25px;
    
}
.like {
    margin-left: 6%; 
}
.like img {
    width: 25px;
}
.collect {
    margin-left: 6%;
}
.collect img{
    width: 25px;
}
.share {
    margin-left: 6%;
}
.share img {
    width: 25px;
}

