.box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 49px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex: 1;
}
.input {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    background-color: rgb(218, 213, 213);
    height: 50%;
    border-radius: 15px;
    
}